@{
    ViewBag.Title = "Home Page";
}


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
 <hr />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent leo elit, pretium ac augue consequat, viverra interdum augue. Aliquam erat volutpat. Nunc rhoncus fermentum volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis a ipsum lacus. Aenean at tempus neque. Donec id lorem felis. Sed viverra nisl eget nisi efficitur, at porta erat semper. Pellentesque tempor, ante sit amet volutpat tempus, metus quam tempor nibh, vel euismod tellus dolor eu turpis. Vestibulum tempor, augue eu commodo suscipit, lacus sapien tempus lectus, ac malesuada erat massa vitae elit.

        Vivamus eleifend mi eget augue commodo vehicula. In hac habitasse platea dictumst. Curabitur faucibus risus in imperdiet pulvinar. Phasellus id nisi a lacus convallis dapibus. Vestibulum porta tempor aliquam. Vivamus ac felis non ligula viverra pulvinar. Nam eu justo nec neque vehicula gravida non quis ante. Nulla facilisi.

        Ut nisi arcu, viverra sed eleifend eget, mattis sit amet massa. Curabitur mollis et velit nec bibendum. Etiam quis metus posuere, varius dui dignissim, imperdiet nisi. Fusce facilisis tempor nisl in lobortis. Aenean ultricies, magna ut tristique ornare, ligula libero lacinia ante, quis pharetra metus enim in justo. Praesent mattis convallis elit, ac eleifend enim ultrices vulputate. Pellentesque faucibus quam dictum nunc elementum hendrerit sit amet egestas felis. In ac ligula ipsum. Nullam porta leo pharetra, vehicula tortor ut, consectetur eros. Etiam quis urna at felis finibus ornare nec ut ligula. Vivamus et magna vestibulum, feugiat felis ut, facilisis orci. Praesent consectetur tellus non ante laoreet consequat. Duis quis eros tempus, maximus elit vitae, suscipit nunc.
   
</body>